    <%- include('layout/header') -%>
    
    <!-- navigation bar -->
    <%- include('layout/navigation') -%>

    <!-- content goes here -->
    <div class="form-wrapper">

        <label for="password">New Password</label>
        <input type="password" name="newPassword" id="password">

        <label for="password">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <button class="btn">
            Reset
        </button>
    </div>
    
    <!-- footer -->
    <%- include('layout/footer') -%>