<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Cabin+Sketch|Orbitron|Special+Elite" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script> 
    <script src="js/main.js"></script>
    <script>
    //     // Initialize Firebase
    //     var config = {
    //         apiKey: "AIzaSyBw_OsCq3br2uL6hYpgnQNvBmHKj5MUhhY",
    //         authDomain: "fir-auth-daaea.firebaseapp.com",
    //         databaseURL: "https://fir-auth-daaea.firebaseio.com",
    //         projectId: "fir-auth-daaea",
    //         storageBucket: "fir-auth-daaea.appspot.com",
    //         messagingSenderId: "291332613707"
    //     };
    //     firebase.initializeApp(config);
     </script>

    <!-- Firebase App is always required and must be first -->
    <!-- <script src="/__/firebase/5.8.4/firebase-app.js"></script> -->
    <!-- Add additional services that you want to use -->
    <!-- <script src="/__/firebase/5.8.4/firebase-auth.js"></script> -->
    <!-- <script src="/__/firebase/5.8.4/firebase-database.js"></script> -->
    <!-- <script src="/__/firebase/5.8.4/firebase-messaging.js"></script> -->
    <!-- <script src="/__/firebase/5.8.4/firebase-functions.js"></script> -->
</head>
<body onclick="closeDropdown(event)">