<div class="nav-wrapper" role="navigation">
        <div class="nav-brand">
            <img src="images/brand.png" alt="brand" width="35px" height="35px">
            <a href="/"><span class="ndiafia-brand">NdiAfia</span></a>
        </div>
</div>