<div class="nav-wrapper" role="navigation">
    <div class="nav-brand">
        <img src="images/brand.png" alt="brand" width="35px" height="35px">
        <a href="/"><span class="ndiafia-brand">NdiAfia</span></a>
    </div>
    <div class="nav-bar">
        <div class="nav-item"><a href="/" id="homeLink" role="menuitem">Home</a> </div>
        <div class="nav-item"><a href="/profile" id="profileLink" role="menuitem">Profile</a> </div>
        <div class="nav-item"><a href="/login" id="loginLink" role="menuitem">Log In</a> </div>
        <div class="nav-item"><a href="/" id="logoutLink" role="menuitem">Log Out</a> </div>
        <div class="nav-item"><a href="/register" id="registerLink" role="menuitem">Register</a> </div>
    </div>
</div>